@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #eee;
}
@font-face {
    font-family: 'BOLD';
    src: url('./assets/Font/bold.ttf') format('truetype')
}

h1{
    font-family: 'BOLD';
}